{% extends 'nav.html' %}



{% block content %}



<p>Randal Keith Orton (born April 1, 1980) is an American professional wrestler and actor. He is signed to WWE, where he performs on the SmackDown brand, and is the current United States Champion in his first reign.
Orton is a third-generation professional wrestler; his grandfather Bob Orton, Sr., his father "Cowboy" Bob Orton, and his uncle Barry Orton all competed in the professional wrestling business.[5][7] Before being promoted to the main World Wrestling Federation (WWF, now WWE) roster, Orton trained in and wrestled for Mid-Missouri Wrestling Association-Southern Illinois Conference Wrestling for a month. He was then sent to Ohio Valley Wrestling (OVW), where he held the OVW Hardcore Championship twice.</p>
{% endblock %}
